*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: rgb(162, 163, 164);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
   background-color: rgb(28, 28, 28);
   width: 100vw;
   height: 100vh;
}

section{
    display: flex;
    padding: 40px;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.score{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.info{
    border-radius: 8px;
    border:1px solid #424141;
    padding: 4px;
}

.board{
   flex-grow: 1;
   display: grid;
    border:1px solid #424141;
    margin-top: 8px;
    grid-template-columns: repeat(auto-fill,minmax(30px,1fr));
    grid-template-rows: repeat(auto-fill,minmax(30px,1fr));
}

.block{
    width: 30px;
    height: 30px;
    border: 1px solid #424141;
}

.fill{
    width: 30px;
    height: 30px;
    background-color: palevioletred; 
}

.food{
width: 30px;
    height: 30px;
    background-color: rgb(222, 151, 104); 
}